<div class="drop-overlay">
    <div class="cancel-area" (click)="fireCloseSortMode()"></div>
    <div class="sort-modal">
        <div class="dcol first-col" (click)="fireStoreSort(0)">#1 Set As First</div>
        <div class="dcol second-col" (click)="fireStoreSort(1)">#2 Set As Second</div>
        <div class="dcol third-col" (click)="fireStoreSort(2)">#3 Set As Third</div>
    </div>
    
</div>