.drop-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 5%;
    .cancel-area {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #3a3a3adb;
    }
    .sort-modal {
        position: absolute;
        height: 200px;
        top: 50%;
        margin-top: -100px;
        width: 100%;
        .dcol {
            position: relative;
            z-index: 1000;
            color: white;
            border: 2px solid #51a8f0;
            display: block;
            text-align: center;
            transition: all .5s;
            cursor: pointer;
            max-width: 400px;
            margin: 10px auto;
            height: 50px;
            line-height: 50px;
            &:hover,:active {
                background-color: rgb(81, 168, 240);
            }
        }
    }
    
}

