<div class="tweet">

    <div class="tweet-cover" *ngIf="randomHasImageBoolean">
        <div class="image-placeholder"></div>
    </div>
    <div class="tweet-head">
        <div class="th-img">
           <div class="user-image-placeholder"></div>
        </div>
        <div class="th-name">
            <div class="username-placeholder"></div>
            <div class="screen-placeholder"></div>
        </div>
        <span class="tw-icon"><i class="fab fa-twitter"></i></span>
    </div>
    <div class="tweet-content row">

        <div class="word-placeholder col-sm-4"></div>
        <div class="word-placeholder col-sm-6"></div>
        <div class="word-placeholder col-sm-2"></div>
        <div class="word-placeholder col-sm-4"></div>
        <div class="word-placeholder col-sm-3"></div>
        <div class="word-placeholder col-sm-5"></div>
        <div class="word-placeholder col-sm-9"></div>
        <div class="word-placeholder col-sm-3"></div>
        <div class="word-placeholder col-sm-2"></div>
        <div class="word-placeholder col-sm-2"></div>
        <div class="word-placeholder col-sm-8"></div>
        <div class="word-placeholder col-sm-3"></div>
        <div class="word-placeholder col-sm-4"></div>
        <div class="word-placeholder col-sm-5"></div>
        <div class="word-placeholder col-sm-6"></div>
        <div class="word-placeholder col-sm-6"></div>


    </div>
    <div class="tweet-foot">
      <div class="visit-placeholder tbutton --round"></div>
    </div>
  </div>
