
@import "../../SCSS/mixin";

.tweet {
    margin-top: 1.5rem;
    border-radius: 13px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 13px 0px rgba(27, 27, 27, 0.08);
    //min-height: 258px;
    
    .tweet-cover {
        border-radius: 13px;
        .image-placeholder {
            border-radius: 13px 13px 0 0;
            width: 100%;
            height: 200px;
            @include preLoaderMixin(200px);
        }
    }

    .tweet-head {
       
        display: block;
        min-height: 3.5rem;
        padding: .5rem;
        position: relative;
        .th-img {
            float: left;
            .user-image-placeholder {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                @include preLoaderMixin(200px);
            }
        }
        .th-name {
            float: left;
            margin: 3px 6px;
            .username-placeholder {
                
                margin: -5px 0 0 0;
                width: 100px;
                height: 20px;
                @include preLoaderMixin(20px);
            }
            .screen-placeholder {
                margin-top: .2rem;
                width: 80px;
                height: 15px;
                @include preLoaderMixin(15px);
            }
        }

          
        .tw-icon {
            @include preLoaderColorMixin();
            font-size: 18px;
            position: absolute;
            right: 20px;
        }
    }

    .tweet-content {
        padding: 0 20px;
        font-size: 15px;
        .word-placeholder {
            height: 15px;
            outline: 5px solid white;
            @include preLoaderMixin(15px);
        }
    }

    .tweet-foot {
        position: relative;
        height: 3rem;
        padding: 10px;
        .visit-placeholder {
            height: 30px;
            width: 150px;
            @include preLoaderMixin(30px);
        }
    }
}