.tweet {
    margin-top: 1.5rem;
    border-radius: 13px;
   
    //min-height: 258px;
    
    .tweet-cover {
        border-radius: 13px;
        img {
            border-radius: 13px 13px 0 0;
            width: 100%;
        }
    }

    .tweet-head {
       
        display: block;
        min-height: 3.5rem;
        padding: .5rem;
        position: relative;
        .th-img {
            float: left;
            img {
                display: inline-block;
                max-width: 40px;
                max-height: 40px;
                border-radius: 50%;
            }
        }
        .th-name {
            float: left;
            margin: 5px 6px;
            h4 {
                margin: 0;
                font-size: 15px;
                color: rgb(17, 17, 17);
                font-weight: bold;
            }
            span {
                font-size: 12px;
                margin-top: -.2rem;
                display: block;
                color: rgb(17, 17, 17);
            }
        }

          
        .tw-icon {
            font-size: 18px;
            position: absolute;
            right: 20px;
            color: #179bd6;
        }
    }

    .tweet-content {
        padding: 8px;
        font-size: 15px;
    }

    .tweet-foot {
        position: relative;
        height: 3rem;
        padding: 10px;
        .tf-time {
            font-size: 13px;
            color: rgb(125, 125, 125);
            position: absolute;
            right: 10px;
            top: 15px;
              
        }
    }
}