<div class="tweet">
    <ng-container *ngIf="itemHasImage()">
        <div class="tweet-cover">
            <img [src]="item.extended_entities.media[0].media_url" />
        </div>
    </ng-container>
    <div class="tweet-head">
        <div class="th-img">
            <img [src]="item.user.profile_image_url" />
        </div>
        <div class="th-name">
            <h4> {{item.user.name}} </h4>
            <span>@{{item.user.screen_name}}</span>
        </div>
        
        <span class="tw-icon"><i class="fab fa-twitter"></i></span>
    </div>
    <div class="tweet-content" [innerHTML]="formatTweetText(item.full_text)"></div>
    <div class="tweet-foot">
      <a [href]="getTweetLink()" class="tbutton --round" target="_blank">Visit Source</a>
      <span class="tf-time"> {{getDate()}} </span>
    </div>
  </div>
