@import "../../SCSS/mixin.scss";




.tw-cols {
    margin-top: -190px;
  
    .tw-col {
        background: transparent;
        border: 0;
        margin-bottom: 550px;
        
        .tw-col-head {

           .content {
            border-radius: 10px;
            
            width: 100%;
            height: 52px;
            position: relative;
            margin-top: 40px;
            img {
                position: absolute;
                top: -90%;
                left: -.4rem;
            }

            h4 {
                margin: 0;
                font-size: 20px;
                padding: 6px 0 0 5rem;
                font-weight: 800;
            }

            span {
                margin-top: -1rem;
                font-size: 14px;
                padding-left: 5rem;
                margin-top: -.4rem;
                display: block;
            }

            .reorder {
                position: absolute;
                right: 10px;
                top: 25%;
                font-size: 20px;
                color: #c8c8c8;
            }
           }
        
              
           
    
        }

        &.make-school {
            .tw-col-head { 
                .content {
                    h4, span {
                        color: rgb(18, 115, 158);
                    }
                } 
            }
        }

        &.y-combinator {
            .tw-col-head { 
                .content {
                    h4, span {
                        color: rgb(240, 98, 0);
                    }
                }
                
            }  
        }

        &.hacker-news {
            .tw-col-head { 
                .content {
                    h4, span {
                        color: rgb(240, 98, 0);
                    }
                }
            }  
        }


        .tw-col-body {
  
        }
    }
}


.card-columns {
    @media (min-width:576px) and (max-width: 1092px) { 
        column-count: 2;
    }
 

  }