<app-header></app-header>
<div class="tw-cols">
  <div class="container">
        

      <div class="card-columns">
            <ng-template #MakeSchool>
                    <div class="card tw-col make-school" >
                        <div class="tw-col-head" >
                            <div class="content">
                                <div class="tw-logo"><img src="assets/images/logo/makeschool.png" /></div>
                                <h4>Make School</h4>
                                <span>@MakeSchool</span>
                                <div class="reorder" (click)="openSortMode('MakeSchool')"><i class="fas fa-arrows-alt"></i></div>
                            </div>
                            </div>
                            <div class="tw-col-body" *ngIf="makeSchool_Tweets">
                                <ng-container *ngFor="let item of makeSchool_Tweets">
                                    <app-tweet [item]="item" user="MakeSchool"></app-tweet>
                                </ng-container>
                            </div>
                            <div class="tw-col-body" *ngIf="!makeSchool_Tweets">
                                <app-tweets-pre-loader *ngFor="let item of numberOfPreloaders_Array"></app-tweets-pre-loader>
                            </div>
                    </div>              
            </ng-template>


            <ng-template #newsycombinator>
                    <div class="card tw-col hacker-news">
                        <div class="tw-col-head">
                            <div class="content">
                                <div class="tw-logo"><img src="assets/images/logo/hackernews.png" /></div>
                                <h4>Hacker News</h4>
                                <span>@newsycombinator</span>
                                <div class="reorder" (click)="openSortMode('newsycombinator')"><i class="fas fa-arrows-alt"></i></div>
                            </div>
                            </div>
                            <div class="tw-col-body" *ngIf="newsYCombinator_Tweets">
                                    <ng-container *ngFor="let item of newsYCombinator_Tweets">
                                        <app-tweet [item]="item" user="newsycombinator"></app-tweet>
                                    </ng-container>
                            </div>
                            <div class="tw-col-body" *ngIf="!newsYCombinator_Tweets">
                                <app-tweets-pre-loader *ngFor="let item of numberOfPreloaders_Array"></app-tweets-pre-loader>
                            </div>
                    </div>
            </ng-template>


            <ng-template #ycombinator>
                    <div class="card tw-col y-combinator">
                        <div class="tw-col-head">
                            <div class="content">
                                <div class="tw-logo"><img src="assets/images/logo/ycombinator.png" /></div>
                                <h4>Y Combinator</h4>
                                <span>@ycombinator</span>
                                <div class="reorder" (click)="openSortMode('ycombinator')"><i class="fas fa-arrows-alt"></i></div>
                            </div>
                            </div>
                            <div class="tw-col-body" *ngIf="yCombinator_Tweets">
                                    <ng-container *ngFor="let item of yCombinator_Tweets">
                                        <app-tweet [item]="item" user="ycombinator"></app-tweet>
                                    </ng-container>
                            </div>
                            <div class="tw-col-body" *ngIf="!yCombinator_Tweets">
                                <app-tweets-pre-loader *ngFor="let item of numberOfPreloaders_Array"></app-tweets-pre-loader>
                            </div>
                    </div>
            </ng-template>

            <ng-container *ngFor="let column of sorts; let i = index">
                    <ng-container *ngIf="column == 'MakeSchool'" >
                            <ng-container *ngTemplateOutlet="MakeSchool"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="column == 'newsycombinator'" >
                            <ng-container *ngTemplateOutlet="newsycombinator"></ng-container>
                    </ng-container>
                    <ng-container *ngIf="column == 'ycombinator'" >
                            <ng-container *ngTemplateOutlet="ycombinator"></ng-container>
                    </ng-container>
            </ng-container>
                
      </div>

  </div>
</div>
<app-sort-columns-overlay *ngIf="isSortMode" (closeSortMode)="closeSortMode()" (storeSort)="storeNewSort($event)" ></app-sort-columns-overlay>

