.tw-setting-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #01070b8e;
        z-index: 1005;
    }
    .tw-setting-modal {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        position: relative;
        top: 50%;
        margin: -225px auto;
        z-index: 2000;
        max-width: 900px;
        padding: 20px;
        text-align: center;

        .head {
            .close {
                position: absolute;
                right: 30px;
                top: 35px;
                i {
                    color: #9cb1bc;
                }
            }
            h1 {
                font-size: 24px;
                font-weight: 800;
            }
            margin: 10px 0 30px 0;
        }

        .tw-body{
            .tw-input-div {
                margin: 15px 5px;

                label {
                    margin: 10px;
                }
            }
        }
      
    }
}