<div class="tw-setting-container">
  <div class="overlay" (click)="close()"></div>
  <div class="tw-setting-modal">
    <div class="head">
      <h1>Twitter API Settings</h1>
      <a class="close" (click)="close()"> <i class="fas fa-times-circle"></i> </a>
    </div>

    <div class="tw-body">
        <div class="tw-input-div">
                <label> Tweets Number per Column: </label>
                <p-spinner size="30" [(ngModel)]="numberOfTweets" [min]="0" [max]="100"></p-spinner>
        </div>
        <div class="tw-input-div">
                <label> from: </label>
                <p-calendar [(ngModel)]="fromDate"></p-calendar>
                <label> to: </label>
                <p-calendar [(ngModel)]="toDate"></p-calendar>
        </div>
        <div class="tw-input-div">
            <label>Dark/Light</label>
            <p-inputSwitch [(ngModel)]="styleLight"></p-inputSwitch>
        </div>

        <div class="tw-input-div">
          <a class="tbutton --round --fill --green" (click)="saveSettings()"> Save Changes </a>
        </div>
    </div>
  </div>
</div>