<section class="header">
    <div class="container">
        <div class="tw-nav">
            <a (click)="openEditMode()"><i class="fas fa-sliders-h"></i></a>
        </div>
        <div class="tw-header">
            <div><i class="fab fa-twitter"></i></div>
            <h1>Twitter API</h1>
        </div>
        
    </div>
</section>
<app-twitte-setting-modal *ngIf="isEditMode" (onClose)="closeEditMode()"></app-twitte-setting-modal>
