.header {
    
    width: 100%;
    height: 478px;
    .tw-nav {
        padding-top: 2rem;
      
        a {
            color: white;
            text-decoration: none;
            font-size: 30px;
        }
    }
    .tw-header {
        text-align: center;
        color: white;
        h1 {
            font-size: 60px;
            font-family: "Montserrat";
            font-weight: bold;
        }
        i {
            font-size: 100px;
        }
    }
    
}