/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Montserrat";
}

a {
    cursor: pointer;
}

.tbutton {
    display: inline-block;
    border-width: 1px;
    border-color: rgb(56, 161, 243);
    border-style: solid;
    padding: 2px 30px;
    text-decoration: none;
    transition: all .6s;

    &.--round {
        border-radius: 20px;
    }

    &.--fill {
        background-color: rgb(56, 161, 243);
    }

 
    &:hover {
        background: rgb(56, 161, 243);
        color: white !important;
        text-decoration: none;
    }
    &.--green {
        color: white !important;
        border-color: rgb(0, 212, 195);
        background-color: rgb(0, 212, 195);
        &:hover {
            background: transparent;
            color: rgb(0, 212, 195) !important;
            text-decoration: none;
        }
    }
   
}

.Rounded_Rectangle_5_copy_2 {
    border-radius: 10px;
    box-shadow: 0px 8px 21px 0px rgba(56, 161, 243, 0.14);
    position: absolute;
    left: 749px;
    top: 2006px;
    width: 192px;
    height: 37px;
    z-index: 268;
  }
  

body {
    &.dark {
        background-color: #2e3e4f;
        .header {
            background-color: rgb(27, 37, 49);
            box-shadow: 0px 0px 76px 0px rgba(34, 48, 63, 0.08);
        }
        .tw-col-head {
            .content {
                background-color: transparent;
            }
            h4, span {
                color: rgb(224, 234, 239) !important;
            }
        }
        .tweet {
            background-color: rgb(34, 48, 63);
            box-shadow: 0px 9px 13px 0px rgba(34, 48, 63, 0.04);
            .tweet-content, .th-name, .th-name h4, .th-name span {
                color: rgb(224, 234, 239) !important;
            }
        }
    }

    &.light {
        background-color: white;
        .header{
            background-color: rgb(56, 161, 243);
            box-shadow: 0px 0px 76px 0px rgba(56, 161, 243, 0.56);
        }
        .tw-col-head {
            .content {
                background-color: rgb(255, 255, 255);
            }
        }
        
        .tweet {
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 9px 13px 0px rgba(27, 27, 27, 0.08);
        }
        
    }
}
